* {
    padding:0;
    margin:0;
    font-family: "微軟正黑體";
}
.container {
    display: block;
    align-items: initial;
    justify-content: initial;
    width: initial;
    min-height:initial;
    height: initial;
    max-height: initial;
    box-sizing: border-box;
    padding: 0;
    background-color: initial;
    background: initial;
    box-sizing:border-box;
}

.travel-container {
    /*width: 300px;*/
    min-width:295px;
    max-height: 600px;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid #bfc7d9;
    box-sizing:border-box;
    border-radius:5px;
    color:#3c3b3b;
    font-weight: normal;
    height:600px;
}

    .travel-container > div {
        font-size: 0.875em;
        color: #666;
        border-top: 1px dashed #A6A6A6;
    }

.travel-head {
    border-radius: 0;
    font-size:0;
}
.travel-head > img {
    width:100%;
    
}
.travel_con {
    background-color: #01aed0;
    width: 340px;
    margin: 0 auto;
    padding: 7px 0;
}
.travel-op {
    margin-bottom: 4px;
}
.travel-container > div {
    border: 17px solid transparent;
    border-width: 13px 18px;
    /* Safari and Chrome */
    -webkit-border-image-source: url(../Content/img/bdic.png);
    -webkit-border-image-slice: 20;
    -webkit-border-image-width: 1em;
    -webkit-border-image-repeat: round;
    /* Firefox */
    -moz-border-image-source: url(../Content/img/bdic.png);
    -moz-border-image-slice: 20;
    -moz-border-image-width: 1em;
    -moz-border-image-repeat: round;
    /* Opera */
    -o-border-image-source: url(../Content/img/bdic.png);
    -o-border-image-slice: 20;
    -o-border-image-width: 1em;
    -o-border-image-repeat: round;
    /* CSS3 */
    border-image-source: url(../Content/img/bdic.png);
    border-image-slice: 20;
    border-image-repeat: round;
    background-color: #fff;
    margin: auto 2%;
}
.travel-container > div > .travel-op {
    display: table-cell;
    vertical-align: middle;
    /*border: 1px solid #D9D9D9;*/
    width: 85px;
    height: 50px;
    font-size: 0;
}


            .travel-container > div > .travel-op > a > img {
                min-width:40px;
                width:71px;
                height:53px;
            }

        .travel-container > div > .travel-ads {
            width: 100%;
            background-color:transparent;
            display: inline-block;
            vertical-align:middle;
            display:table-cell;
            padding-left:5px;
        }

            .travel-container > div > .travel-ads > h5 {
                font-size: 12px;
                color: #666;
                height: 18px;
                overflow-y: hidden;
                font-weight:normal;
            }

                .travel-container > div > .travel-ads > h5 > a {
                    text-decoration:none;
                    color: #fff;
                    font-size:12px;
                }

                    .travel-container > div > .travel-ads > h5 > a:hover {
                        color: #0094ff;
                        text-decoration:underline;
                    }